# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore Visual Studio Code settings
.vscode/

# Ignore npm's logs
npm-debug.log*

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore IDE and editor configuration
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Ignore package-lock.json and yarn.lock files
package-lock.json
yarn.lock
